body{
   background-color:#F8D8FF;
}

p{
    text-align: center;
}

#meh img{
    float: center;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%
}

#floaties {
    float: left;
    width: 60%;
}

#Naruto{
    float: left;
    width: 40%;
    line-height: normal;
    text-align: center;
    font-size: 20px;
}

#ponyo{
    float: right;
}

#ponyo-txt{
    float: left;
    height: 100px;
    width: 260px;
    font-size: 30px;
}

.text{
    font-size: 25px;
}

.bts{
    display: none;
}

#title{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

#voice img{
    float: center;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%
}
