body{
   background-color:#F8D8FF;" 
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}

li{
    float:left;
}

li a{
    float:center;
    display:block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

h1{
    color: blue;
    background-color: aliceblue;
    text-align: center;
    padding:40px;
}

p{
    text-align: center;
    font-size: 14px;
}

#p{
    text-align: center;
}

.music2{
    display: none;
}

#flower{
    text-align: center;
    margin-left: 40%;
}
