body{
   background-color:#F8D8FF;" 
}

h1{
    color: blue;
    background-color: aliceblue;
    text-align: center;
    padding:40px;
}

p{
    text-align: center;
    font-size: 14px;
}

#p{
    text-align: center;
}

.music2{
    display: none;
}

#flower{
    text-align: center;
    margin-left: 40%;
}
